<header>
  <div class="header__logo">
    <p><i><img src="../../../favicon.ico" alt="logo"></i>Fast<span>Travel</span></p>
  </div>
  <nav>
    <ul class="nav__list">
      <li><a [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/']">Home</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/sobre']">Sobre</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/contato']">Contato</a></li>
    </ul>
  </nav>
  <div class="header__container_button">
    <a [routerLink]="['/login']">Login</a>
  </div>
</header>
