<main>
  <section class="container__info">
    <h1>Viagens incriveis e acessiveis é aqui!</h1>
    <p>Explore lugares inacreditaveis por um preço baixo</p>
  </section>

  <section class="container__info">
    <subtitle subtitle="Olá kk" [fontSize]="'30px'"></subtitle>
  </section>

  <section class="container__info">
    <subtitle subtitle="Olá kk" [fontSize]="'40px'"></subtitle>
  </section>

  <section class="container__info">
    <subtitle subtitle="Olá kk" [fontSize]="'20px'"></subtitle>
  </section>

  <section class="container__info">
    <subtitle subtitle="Olá kk" [fontSize]="'100px'"></subtitle>
  </section>
</main>
