<main>
  <section class="container__info">
    <h1>Viagens incríveis e acessíveis é aqui!</h1>
    <p>Explore lugares inacreditaveis por um preço baixo</p>

    <div class="options">
      <div class="options__container_links" [style.border-radius]="borderRadius">
        <div class="options__container_links__option">
          <button (click)="ToggleOptions(1)">Datas</button>
          @if (showContainer1) {
            <app-options>
              <a [routerLink]="['/contato']">Melhores horarios</a>
              <a [routerLink]="['/contato']">Da</a>
            </app-options>
          }
        </div>
        <div class="options__container_links__option">
          <button (click)="ToggleOptions(2)">Preços</button>
          @if (showContainer2) {
            <app-options>
              <a [routerLink]="['/contato']">Preços</a>
            </app-options>
          }
        </div>
        <div class="options__container_links__option">
          <button (click)="ToggleOptions(3)">Locais</button>
          @if (showContainer3) {
            <app-options>
              <a [routerLink]="['/contato']">Locais</a>
            </app-options>
          }
        </div>
        <a href="" class="button_search">Procurar</a>
      </div>
    </div>
  </section>

  <section class="container__recommend">
    <subtitle subtitle="Olá kk" [fontSize]="'30px'"></subtitle>
  </section>

  <section class="container__benefits">
    <subtitle subtitle="a" [fontSize]="'40px'"></subtitle>
  </section>

  <section class="container__otherLocal">
    <subtitle subtitle="b" [fontSize]="'20px'"></subtitle>
  </section>

  <section class="container__memories">
    <subtitle subtitle="v" [fontSize]="'100px'"></subtitle>
  </section>
</main>
